#entrada {
    text-align: center;
    border-radius: 5px;
    border: 2px solid black;
    background-color: rgb(220, 185, 252);
}

#saida {
    text-align: center;
    border-radius: 5px;
    border: 3px dashed black;
    background-color: rgb(204, 241, 229);
}