#console-card-info {
    width: 300px;
    height: 600px;
    background-color: aquamarine;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
    display: flex;
}

img {
    width: 200px;
    height: 200px;
}