#insert-form {
  width: 320px;
  height: 400px;
  background-color: lightgrey;
  border-radius: 5px;
  text-align: center;
  border-bottom: 30px;
}

input,
select,
button,
option,
p,
h3 {
  color: black;
  border-radius: 5px;
}

input,
select {
  background-color: rgb(238, 238, 151);
}
