<div class="container">
  <h2>Lista de consoles</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Lançamento</th>
        <th scope="col">Data de criação</th>
        <th scope="col">Data de atualização</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of consoles">
        <th scope="row">{{ x.id }}</th>
        <td>{{ x.name }}</td>
        <td>{{ x.releaseYear }}</td>
        <td>{{ x.createDate }}</td>
        <td>{{ x.updateDate }}</td>
      </tr>
    </tbody>
  </table>
</div>
