.console-insert {
  background-color: #359cf0;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  border: 2px silver solid;
}

.console-insert button {
  color: black;
  padding: 2px;
}

.console-insert input,
.console-insert button {
  font-size: 16px;
  color: black;
}

.entrada {
  background: #cc1717;
  border-radius: 3px;
  font: black 15px;
}

.saida {
  background: blueviolet;
}